.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%;
  background-color: #171c20; 
}

.custom-spinner {
  width: 4rem;
  height: 4rem;
  border-width: 0.35em;
  color: #ff7b00;
}


.loading-container h5 {
  animation: fadeIn 1.5s infinite alternate;
}

@keyframes fadeIn {
  from { opacity: 0.4; }
  to { opacity: 1; }
}