/* :root */

:root {
  --item-card-hover-color2-color: linear-gradient(to top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 1));
  --item-card-hover-color-color: linear-gradient(to top,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 1));
}
/* ==== :root ==== */


@media (min-width: 769px) {
    .item-card{
      width: 24rem !important;
    }
}

.item-card{
    position: relative;
    cursor: pointer;
}

.item-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.item-card:hover::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--item-card-hover-color-color);
    border-radius: 2px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.item-card::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.item-card:hover::before {
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0%;
    background: var(--item-card-hover-color2-color);
    border-radius: 2px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.card-text {
  font-size: small !important;
  color: #757575;
}

.card-title {
  font-size: medium;
}

.card-title span {
  color: rgb(255, 123, 0) !important
}
.item-card{
  max-width: 18rem!important;
  max-height: 400px !important;
} 

.card-img-top {
  transform: translate(1px) !important;
}

.cart-btn-out {
  bottom: 0px;
  right: 0;
  width: 45px !important; 
  height: 27px !important;
  background-color: hsl(30, 33%, 99%);
  border-radius: 75px 0 0 75px;
  transform: translateX(100%);
  transition: all .6s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.view-btn-out {
  top: 0px;
  left: 0;
  background-color: rgb(253, 252, 252);
  border-radius: 0 75px 75px 0;
  transform: translateX(-100%);
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex !important;
  text-decoration: none;
  color: white !important;
  width: 45px !important; 
  height: 27px !important;
}

.cart-btn-out, .view-btn-out {
  position: absolute;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  font-size: x-small;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 123, 0) !important;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.item-card:hover .cart-btn-out, 
.item-card:hover .view-btn-out {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

