
.navBack-bg {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0px;
  overflow: hidden;
  z-index: -1;
}

.navBack-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.664);
}

.navBack-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}