.cart-container {
    margin-top: 300px !important;
    margin-bottom: 200px !important;
}

.text-orange {
    color: #ff7b00 !important;
}

.card {
    transition: transform 0.3s ease;
}

.btn-dark:hover {
    background-color: #e66e00 !important;
    transform: translateY(-2px);
}

.rounded-pill {
    background: #fff;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ff7b00 !important;
}

@media (max-width: 500px) {
    .item-in-cart {
        display: flex !important;
        flex-direction: column !important;
    }
    .item-in-cart div {
        width: 100% !important;
        text-align: center !important;
    }

    .img-cart {
        margin-bottom: 10px !important;
        /* display: none; */
    }
}

@media (max-width: 320px) {
    .img-cart {
        display: none !important;
    }
}